.item-in-cart-header__wrapper{
    display: flex;
    justify-content: space-between;
    font-family: SFProDisplay;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 20px;
    position: relative;
}

.item-in-cart-header__item-product{
    position: absolute;
    top: -10px;
    left: 12vw;
}

.item-in-cart-header__item-price{
    position: absolute;
    top: -10px;
    right: 30vw;
}

.item-in-cart-header__item-quantity{
    position: absolute;
    top: -10px;
    right: 18vw;
    
}

.item-in-cart-header__item-total-price{
   position: absolute;
   top: -10px;
   right: 8vw;
}