.wholesale{
    font-family: SFProText;
}

.wholesale .intro-slider{
    background-color: #fff;
}

.wholesale__section-title{
    margin-top: 100px;
}

.wholesale__our-projects{
    display: flex;
    justify-content: center;
}

.wholesale__our-projects-inner{
    width: 1440px;
}